/* モノクロ */

.cMonoBgStyle {
  @apply bg-white;
}

.cMonoTextStyle {
  @apply text-black;
}

.cMonoBorderStyle {
  @apply border border-black;
}

.cMonoStyle {
  @apply cMonoBgStyle cMonoTextStyle cMonoBorderStyle;
}
