.cMonoColor {
  @apply !bg-white !text-black !border-black;
}

/* Surface */

.cSurfaceBgStyle {
  @apply bg-surface-100 dark:bg-surface-800;
}

.cSurfaceTextStyle {
  @apply text-surface-800 dark:text-surface-100;
}

.cSurfaceBorderStyle {
  @apply border border-surface-800 dark:border-surface-100;
}

.cSurfaceStyle {
  @apply cSurfaceBgStyle cSurfaceTextStyle cSurfaceBorderStyle;
}
